body, html{
  padding: 0;
  height: 100%;

}


.header{
  color: #aa4eff;
  font-size: 50px;
}

.MainPic {
  flex:1;
  height: auto;
  padding-right: 250px;

}

.flex-container{
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  justify-content: space-around; 
  padding: 20px; 
  padding-top: 150px;
  gap: 20px; 
  box-sizing: border-box;
  overflow-x: hidden;

}

/*resume content*/
.resume-container{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around; 
  padding: 20px; 
  gap: 20px; 
  box-sizing: border-box;
  overflow-x: hidden;
}

.Resume{
  box-shadow: 0 10px 15px #aa4eff;
  margin: auto; 
  transition: transform 0.3s ease;
  display: inline-block;

}

.Resume:hover{
  transform: scale(0.98);
  box-shadow: 0 20px 30px #aa4eff;

}

.ResumePic{
  display: block;
  width: 100%; 
}

/*Download Button*/
.download-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #aa4eff; 
  color: white;
  text-decoration: none; 
  border-radius: 5px; 
  font-size: 16px; 
  transition: background-color 0.3s ease; 
}

.download-button:hover,
.download-button:focus {
  background-color: #927bea;
  color: white;
  text-decoration: none; 
}

.download-button i {
  margin-right: 5px; 
}

/*footer content*/
.footer {
  margin-top: auto;
  background: #1a1a2e; 
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container{
  display: flex;
  flex-direction: column;
  min-width: 100%; 
}

.footer-text{
  color: #aa4eff;
  gap: 1rem;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 25px;
  font-weight: bold;
}


/*social icons*/

.linkedin-icon{
  color: black;
  width: 60px; 
  height: 60px; 
}

.github-icon{
  color: black;
  width: 50px; 
  height: 50px; 
}

.twitter-icon{
  color: black;
  width: 50px; 
  height: 50px; 
}

.social-icons-divide {
  display: flex;
  gap: 50px;
  margin-top: 10px;
  height: 50px;
  align-items: center;
  justify-content: center; 
}

.social-icons-divide a {
  display: inline-block;
}

.link-icon {
  margin-right: 5px; 
}


/*Typing Section*/

@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter-cursor {
  display: inline-block;
  opacity: 1;
  animation: flicker 0.7s infinite;
  color: #8a2be2; 
  margin-left: 5px; 
}

.typing{
  display: inline-flex;
}

.typewriter-effect{
  color: #aa4eff; 
  font-size: 50px;
  font-weight: bold;
  flex:1;
  white-space: nowrap;
  z-index: 1;
}


/*About me section*/

.about-me-footer{
  padding-top: 100px;
}

@keyframes bobbing {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.arrow-down{
  animation: bobbing 1s ease-in-out infinite;
  color: white;
  height: 100px;
  width: 100px;
}

/*hand wave*/

@keyframes waveAnimation {
  0%, 100% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave-hand {
  animation: waveAnimation 2s ease-in-out infinite;
}


