.header{
    text-align: center;
    color: white;
    font-size: 50px;
}

.AboutMe{
    margin-top: 960px;
    height: 100vh;


}
.Project{
    margin-top:960px;
    height: 100vh;
}

.Contact{
    margin-top:960px;
    height: 100vh;

}


.Nav2{
    display: flex;
    position: fixed;
    top: 50%;
    left: auto;
    right: 0;
    justify-content: flex-end; 
    align-items: center; 
    transform: translateY(-50%);
}



.link {
    display: flex;
    justify-content: right; 
    align-items: center; 
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    flex-direction: column;
}

.link:hover{
    color: #8A2BE2;
}

.top-btn-position {
    position: fixed;
    bottom: 19px; 
    right: 10px;
}
  
.top-btn-style {
    font-size: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: white;
    color: #333;
    cursor: pointer;
}
  
.top-btn-style:hover {
    animation: none;
    background-color: #8A2BE2;
    color: black;
    border: 2px solid #fff;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.description {
    color: white;
    font-size: 45px;

}








