.header{
    text-align: center;
}
.about-me-section{
    margin-top: 100vh;
    background-color: purple;

}
.contact-section{
    margin-top: 200vh;
}

.Nav2{
    height: 50px;
    
}

.AboutMe{
    margin-top: 960px;
    height: 100vh;
    background-color: White;
}

.Contact{
    margin-top:960px;
    height: 100vh;
    background-color: White;
}
.link{
    text-align: center;
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.link:hover{
    color: #00ddff;
}

.top-btn-position {
    position: fixed;
    top: 50px;
    left: 50px;
}
  
.top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}
  
.top-btn-style:hover {
    animation: none;
    background-color: #00ddff;
    color: black;
    border: 2px solid #fff;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img {
    width:400px;
    height:auto;
    
}




