body {
  scroll-behavior: smooth;
  scroll-margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #010010;
}

.container{
  margin: 1rem;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.title{
  color: #00ddff;
  gap: 1rem;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 25px;
  font-weight: bold;
  
}

.nav ul{
  
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 25px;
  color: #00ddff;
  font-weight: bold;
}
.nav a{
  color: inherit;
  text-decoration: none;
  height:100%;
  display:flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active{
  color: white;
  text-decoration: none;
}

.nav li:hover, li:focus{
  color: white;
}

.container{
  position: static;
}


.star-field {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1; 
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: moveStar linear infinite;
}

@keyframes moveStar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw); 
  }
}



